@media (min-width: 1280px) {
  .site-navigation {
    order: 2;
    align-self: center;
    position: relative;
    z-index: 10;
    top: 0;
    height: auto;
    padding: 0;
    transform: translateX(0) !important;
    overflow: unset;
    .menu-wrapper {
      max-width: 100%;
      .menu-item {
        border-bottom: 0;
        .menu-link {
          color: $primary;
					padding-right: .5rem;
        }
        &:hover {
          background-color: $primary;
          .menu-link {
            color: $primary-ac;
          }
        }
      }
      .has-children {
        &::after {
          color: $primary;
          padding-right: .5rem;
        }
        > ul {
          .menu-link {
            color: $secondary-ac;
          }
        }
        &:hover, &.active {
          > ul {
            background-color: $secondary;
            .menu-item:hover {
              background-color: $primary;
              .menu-link {
                color: $primary-ac;
              }
            }
          }
          &::after {
            color: $primary-ac;
          }
        }
      }
    }
  }
  .admin-bar {
    .site-navigation {
        top: 0;
    }
  }
}
