.menu-wrapper {
  max-width: 85%;
}
.menu-link, .menu-link:visited {
  padding: 1rem;
  display: inline-block;
  color: rgba(0,0,0,.5);
  font-size: .9rem;
  white-space: normal !important;
}
.menu-wrapper .active, .focus {
  background-color: $primary;
  > .menu-link {
    color: $primary-ac !important;
  }
  &:after {
    color: $primary-ac;
  }
}
.focus {
  > ul {
    background-color: #eee;
    margin: 0 !important;
  }
}

.menu-toggle {
  border-color: rgba(0,0,0,.1);
  background-color: #eee;
  color: #444;
  border-radius: 0;
  margin-top: .5rem;
  padding-right: 1rem !important;
}
.has-children {
  > .menu-link::after {
    display: none !important;
  }
  > ul {
    .menu-link {
      color: rgba(0,0,0,.5);
    }
  }
}

/** Laptop and desktop view from MDPI **/
@import "./desktop.scss";
