.is-style-lightbox {
  a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &::before {
      position: absolute;
      z-index: 1;
      font-family: "dashicons";
      font-weight: 700;
      font-size: 3rem;
      content: "\f179";
      color: $primary;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
    img {
      transition: transform .5s ease;
    }
  }
}
