.home .wp-block-cover {
    margin-bottom: 0;
}
.encart {
    background-color: rgba(221, 109, 129, 0.8);
    p {
        text-transform: uppercase;
    }
}
.circle {
    background-color: #007666;
    color: #fff;
}

@import './desktop.scss';
