div.wpforms-container {
    border: 1px solid $primary;
    padding: 1.3rem;
    form.wpforms-form {
        .wpforms-field-container {
            input[type="date"], input[type="datetime"], input[type="datetime-local"],
            input[type="email"], input[type="month"], input[type="number"], input[type="password"],
            input[type="search"], input[type="tel"], input[type="text"], input[type="time"],
            input[type="url"], input[type="week"], textarea, .choices__inner, select {
                &:focus {
                    border: 1px solid $primary;
                    box-shadow: 0 0 0 .25rem rgba($primary-rgb,.25);
                }
            }
            .wpforms-valid {
                border: 1px solid $primary;
            }
            .is-focused {
                .choices__inner {
                    border: 1px solid $primary;
                    box-shadow: none;
                }
            }
            .is-open {
                .choices__list--dropdown {
                    border: 1px solid $primary;
                    box-shadow: none;
                }
                &.choices:after {
                    border-color: transparent transparent $primary transparent;
                }
            }
            .choices__list--multiple {
                .choices__item {
                    background-color: $primary;
                    border: 1px solid $primary;
                }
            }
        }
        .wpforms-submit-container {
            button.wpforms-submit {
                background-color: $primary;
                border-color: $primary;
                color: $primary-ac;
                &:hover {
                    background-color: $secondary;
                    border-color: $secondary;
                    color: $secondary-ac;
                }
                &:focus {
                    box-shadow: 0 0 0 .25rem rgba($primary-rgb,.25);
                }
            }
        }
    }
}