@media (min-width: 992px) {
  .submenu {
      position: relative;
      z-index: 10;
      max-width: 233px;
      &.static {
        position: fixed;
        top: 0;
      }
  }
  .admin-bar {
    .submenu {
      &.static {
        top: 46px;
      }
    }
  }
}
