.submenu {
    border-radius: 5px;
    background-color: $secondary;
    .menu-item {
        &.active, &:hover {
            background-color: $primary;
        }
    }
    .menu-link {
        color: $secondary-ac!important;
        text-decoration: none;
    }
}
@import "./desktop.scss";
