$primary: var(--primary-color);
$secondary: var(--secondary-color);
$primary-ac: var(--primary-text-color);
$secondary-ac: var(--secondary--text-color);
$primary-rgb: var(--primary-rgb);
$secondary-rgb: var(--secondary-rgb);

@import "./css/menu/style.scss";
@import "./css/submenu/style.scss";
@import "./css/footer/style.scss";
@import "./css/lightbox/style.scss";

@import "./css/general";
@import "./css/blocks";
@import "./css/layouts";
@import "./css/front-page/style.scss";

@import "./css/forms/wp_forms.scss";
