.wp-block-pullquote {
    border-color: $primary;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid;
    border-top-color: currentcolor;
    border-bottom: 4px solid;
    border-bottom-color: currentcolor;
    margin-bottom: 1.75em;
    color: currentColor;
    display: block;
}

.gof {
    .blocks-gallery-grid .blocks-gallery-item figcaption {
        background: linear-gradient(0deg, rgba(var(--primary-rgb), 0.7), rgba(var(--primary-rgb), 0.3) 70%, transparent);
    }
}