body.gof {
  padding: 0 !important;
}
.aligncenter {
  figcaption {
    text-align: center;
  }
}
.bg-primary {
  background-color: $primary;
  padding: 1.5rem;
}
.bg-secondary {
  background-color: $secondary;
  padding: 1.5rem;
}
.bg-primary-alpha {
  background-color: rgba(var(--primary-rgb),.5) !important;
}
.bg-secondary-alpha {
  background-color: rgba(var(--secondary-rgb),.5) !important;
}
.gap {
  padding-left: 1rem;
}
.gap li {
  padding: 1rem 0;
}
.no-list-style {
  list-style: none;
  padding-left: 0;
}
.title-subline::after {
  content: "";
  border-top: 0.5rem solid #3c3c3c;
  display: block;
  width: 4rem;
  margin-top: 2rem;
}
.wp-block-cover {
  .bg-secondary-alpha {
    position: absolute;
    top: 0;
    width: 100% !important;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.jumbotron {
  padding: 4rem 2rem;
  border-radius: .3rem;
}
.border {
  border: 1px solid #dee2e6;
  padding: 1.5rem;
}

@media (min-width: 992px) {
  .content {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  .wp-block-cover {
    .bg-secondary-alpha {
      position: relative;
      text-align: left;
      width: 50% !important;
    }
  }
}

/** Responsive table : tables need to be more readable on mobile view **/
@media (max-width: 1280px) {
  table > tbody > tr:not(:last-child) {
    border-bottom-width: 1px;
  }
  table > tbody > tr > td {
    display: block;
    &:first-child {
      font-weight: 700;
    }

  }
}