.site-footer .top-footer {
  text-align: center;
}
.site-footer .bottom-footer {
  width: 100%;
  background-color: $primary;
  padding: 1rem;
  font-size: 1rem;
  .menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    .menu-item > a {
      color: $primary-ac;
      padding: .5rem;
      display: block;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
